<div class="row">
    <div class="col-xs-12">
        <button class="btn" (click)="onNewTask()">Add Task</button>
    </div>
</div>
<hr>
<div>
    <a class="list-group-item clearfix">
        <div class="pull-left">
            <h4 class="list-group-item-heading">{{title}}</h4>
            <p class="list-group-item text" style="color: #00bac7; background-color: #0e2238" >{{ingredientSL}}</p>
        </div>
        <!-- <span class="pull-right">
            <button class="btn btn-danger!important" (click)="onDeleteTask()">X</button>
        </span> -->
    </a>
</div>
<hr>

<div class="row">
    <div class="col-xs-12">
        <app-task-item *ngFor="let task of tasks; let i = index;" [task]='task' [index]="i"></app-task-item>
    </div>
</div>