.shopping-list:focus,
.shopping-list:hover {
  background-color: hwb(184deg 4% 65% / 75%);
  border-color: white;
  color: #00bac7;
}

.time {
  background-color: #333;
  color: white;
  margin-bottom: -15px;
  margin-right: -35px;
  border: 1px solid #333;
  border-radius: 15px 0 15px 0;
}

.time:hover{
  background-color: #333;
  color: #fff;
}

.task-card {
  border-radius: 10px;
  color: white;
}

.addButton:hover{
  color: #00bac7;
  background-color: #0e2238;
}

.ingredientSL{
  margin-bottom: 3px;
}
