<nav class="navbar navbar-default navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand navbar-brand">My<span style="color:#00bac7;">Day</span></a>
        </div>
        <div class="collapse navbar-collapse navbar-custom navbar-dark bd-navbar sticky-top">
            <ul class="nav navbar-nav">
                <!-- <li routerLinkActive="active"><a routerLink="/todo">ToDo</a></li> -->
                <li routerLinkActive="active"><a routerLink="todo" (click)="onFechData()">ToDo</a></li>
                <!-- <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li> -->
                <li routerLinkActive="active"><a routerLink="/recipes" (click)="onFechData()">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li style="cursor: pointer;" (click)="onSaveData()"><a>Save Data</a></li>
                        <!-- <li style="cursor: pointer;" (click)="onFechData()"><a>Fetch Data</a></li> -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>