<nav class="navbar navbar-default navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand navbar-brand">My<span style="color:#00bac7;">Day</span></a>
        </div>
        <div class="collapse navbar-collapse navbar-custom navbar-dark bd-navbar sticky-top">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/todo">ToDo</a></li>
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
        </div>
    </div>
</nav>
