.navbar {
    background-color: #0e2238;
    border-color: #0e2238;
    border-radius: none;
}

.navbar-brand {
    color: white;
    font-weight: 700;
}

.navbar-custom {
    color:#fff;
}

.navbar-custom :hover {
    color:#00bac7 ;
    font-weight: 500;
}

.navbar-default{
    background-color: #0e2238;
    color: #fff;
}

.navbar-default .navbar-nav>.active>a {
    color: #00bac7;
    background-color:hwb(184deg 4% 65% / 75%);
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus {
    color:#fff;
    background-color:#0e2238;
}

ul.dropdown-menu :hover {
    background-color: hwb(184deg 4% 65% / 75%);
}

.dropdown-menu {
    background-color:#0e2238;
}

.dropdown-menu a {
    color: #fff;
}


.list-group-item.active .list-group-item-text{
    color: #fff;
}

.svgButton{
    background-color: #0e2238;
    border: 1px solid #00bac7;
    border-radius: 5px;
    color: #00bac7;
}

.svgButton:hover{
    background-color: #00bac7;
    color: #0e2238;
}