<hr style="background-color:hwb(184deg 4% 65% / 75%)">
<a class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active" style="cursor: pointer;">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{task.text}}</h4>
        <p class="list-group-item text" style="color: #00bac7; background-color: #0e2238;">{{task.day}}</p>
    </div>
    <span class="pull-right">
        <button class="btn btn-danger!important" (click)="onDeleteTask()">X</button>
    </span>
</a>


