<hr style="background-color:hwb(184deg 4% 65% / 75%)">
<a class="list-group-item clearfix task-card" [routerLink]="[index]" routerLinkActive="active" style="cursor: pointer;">
     <div class="col-xs-12">
        <h4 class="list-group-item-heading pull-right">{{task.text}}</h4>
        <hr>
        <span class="list-group-item-heading pull-right">{{task.text}}</span>
    </div>
    <!-- <span class="pull-right">
        <button class="btn btn-danger!important" (click)="onDeleteTask()">X</button>
    </span> -->
    <div class="col-xs-12 pull-right">
        <p class="list-group-item pull-right time">{{task.day}}</p>
    </div>
</a>