/* a.list-group-item .list-group-item-heading,
a.list-group-item .list-group-item-text {
    color: #9ea9b4;
} */

/* .list-group-item .list-group-item-heading:hover,
.list-group-item .list-group-item-text:hover {
    color:#00bac7;
    background-color: hwb(184deg 4% 65% / 75%);
} */


a.list-group-item:hover {
    background-color: hwb(184deg 4% 65% / 75%);
}

a.list-group-item.active,
 .list-group-item.active:focus,
 .list-group-item.active:hover {
    z-index: 2;
    color: #00bac7;
    background-color:hwb(184deg 4% 65% / 75%);
    border-color: hwb(184deg 4% 65% / 75%);
}

/* h4.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover{
    z-index: 2;
    color: #00bac7;
    background-color:hwb(184deg 4% 65% / 75%);
    border-color: hwb(184deg 4% 65% / 75%);
} */

