body {
background-color: #f8fafb;
}

.btn{
    background-color: #0e2238;
    border: #0e2238;
    color: #9ea9b4;
    margin-right: 5px;
}

.btn:hover, .btn:active, .btn:default, .btn:checked{
    color: #00bac7;
    background-color: #0e2238;

}