* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Poppins", sans-serif;
}

h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  color:#00bac7;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 3px solid hwb(184deg 4% 65%);
  padding: 30px;
  border-radius: 25px;
}

.task {
  margin: 0px 25px 25px 25px;
  overflow: auto;
  padding: 20px;
  border-radius: 0px 35px 35px 35px;
  align-items: center;
  background-color: hwb(184deg 4% 65%);
}

.task-header {
  border-radius: 35px 35px 35px 0px;
  height: 151px auto;
  background-color:  hwb(184deg 4% 65%);
   border: 3px solid hwb(184deg 4% 65%) ;
  
}

.thisDay {
  color: #fff;
  font-size: 35px;
}
