/* .btn{
    background-color: #0e2238;
    color: #9ea9b4;
    margin-right: 5px;
}

.btn:hover{
    color: #00bac7;
} */

a.dropdown-menu :hover {
    background-color: hwb(184deg 4% 65% / 75%);
  }